<div id="sidebar">
  <h3><span id="ctl00_Label2">Menu</span>
  </h3>

  <ul>

    <li><a href="/login/index">Home</a></li>
    <li><a href="/login/sign_up">Sign Up</a></li>
  </ul>

  <h3><span id="ctl00_Label1">Hello! Guest,</span>
  </h3>


</div>