<!DOCTYPE html>
<html>
<head>
  <title>Leitner</title>
  <meta name="author" content="Bahman Masarratbakhsh">
  <%= stylesheet_link_tag('style',:media=>'all') %>
</head>
<body>
  <div id="wrap">
    <div id="header">
      <h1> <a href="#">Leitner Box </a></h1>
    </div>
    <div id="contentwrap">
      <div id="main">
        <%= yield %>
      </div>
      <div style="clear: both;">
      </div>
      <div id="footer">
        <p>&copy; Ruby on rails project sample </p>
      </div>

    </div>
  </div>

</body>
</html>